@media only screen and (max-width: 567px) {
    .yeet {
        padding-right: 5rem;
    }

    /* basic style */
    table, td, th {
        border-collapse: collapse;
    }

    table {
        table-layout: fixed;
        width: 100%;
        box-sizing: border-box;
    }

    th {
        text-align: left;
        padding-right: 5rem;
    }

    td, th {
        padding: 5rem;
    }

    /* display table rows top down */
    thead {
        background-color: #333;
        color: #FFF;
        display: none; /* hide table head */
    }


    td:nth-of-type(1), td:nth-of-type(2) {
        font-weight: bold; /* mark heading items of each cyclist */
        display: inline-block;
        width: auto;

    }

    td:nth-of-type(1) {
        text-align: left; /* correction of basicTable */
    }

    /* add content of th to each row individually */
    td:nth-of-type(3)::before {
        content: "Team: ";
    }

    td:nth-of-type(4)::before {
        content: "Punten: ";
    }

    td:nth-of-type(5)::before {
        content: "Nationaliteit: ";
    }

    td {
        display: block; /* overwrite display: table property*/
        width: auto;
    }

    tr {
        display: grid; /* when you use this, you can skip the property td {display:block} */
        grid-template-columns: 1.5em 1fr;
        margin-bottom: 1em;
    }

    td {
        grid-column: 2/-1;
    }

    td:first-child {
        grid-column: 1/2;
    }

    tr:nth-of-type(2n) {
        background-color: #DDD;
    }
}

body {
    display: flex;
    font-family: 'Source Serif Pro', serif;
    justify-content: space-between;
}

img {
    object-fit: contain;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

h1 {
    margin: 1rem .3rem;
    border-bottom: 1px solid #555566;
    font-size: 1.5rem;
}

h2 {
    margin: 1rem .3rem;
    border-bottom: 1px solid #555566;
}


main {
    display: block;
    margin: 5vh;
    background: #ffffff;
}

nav {
    padding: 2rem 0;
    width: 25%;
    height: 100vh;
    position: fixed;
    right: 0;
    background: #144a91;
}

#nav-placeholder {
    padding: 2rem 0;
    width: 25%;
    height: 101vh;
}

.link-nav a, .link-nav a:hover {
    color: white;
    font-weight: bold;
    font-size: 21px;
}

.material-icons {
    margin: 0 2rem 0 1rem;
}

.link-nav a {
    display: block;
    padding: 1rem;
}

.link-nav a:hover {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

.link-nav {
    transition: .6s;
}

.link-nav:hover {
    background: #3595f6;
}

nav ul {
    list-style: none;
}

input {
    border-radius: 5px;
}

form input, form select, form textarea, .tags-input {
    display: block;
    width: 80%;
    margin-bottom: .6rem;
    border: 1px solid #DDDDDD;
    padding: .3rem;
}

form {
    padding: 1rem;
}

form legend {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    border-bottom: 1px solid #555566;
}

form button {
    margin: .3rem;
    display: inline-block;
    padding: .5rem;
    border-radius: 2px;
    background-color: #246ac1;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    border: none;
    cursor: pointer;
}

.content-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-list li {
    padding: .4rem .2rem;
    border-bottom: 1px solid #DDDDDD;
}

.content-list li:last-child {
    border-bottom: none;
}

.star-class {
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 0 5px #777777;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #246ac1;
    border-radius: 10px;
}

.star-class img {
    margin: 3rem;
    width: 10%;
}

.star-class ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.star-class ul li {
    display: inline-block;
    padding: .4rem;
    background: #3595f6;
    border-radius: 3px;
    margin: .3rem;
}

.star-class th {
    padding-right: 2rem;
}

.account-banner {
    margin: 2rem;
    display: flex;
    align-items: center;
    height: 4rem;
}

.account-banner img {
    margin-right: .5rem;
    border-radius: 50%;
}

.account-banner h3 {
    text-decoration: none;
    color: white;
}

.yeet {
    padding-right: 5rem;
}
