@media only screen and (max-width: 567px) {
    .yeet {
        padding-right: 5rem;
    }

    /* basic style */
    table, td, th {
        border-collapse: collapse;
    }

    table {
        table-layout: fixed;
        width: 100%;
        box-sizing: border-box;
    }

    th {
        text-align: left;
        padding-right: 5rem;
    }

    td, th {
        padding: 5rem;
    }

    /* display table rows top down */
    thead {
        background-color: #333;
        color: #FFF;
        display: none; /* hide table head */
    }


    td:nth-of-type(1), td:nth-of-type(2) {
        font-weight: bold; /* mark heading items of each cyclist */
        display: inline-block;
        width: auto;

    }

    td:nth-of-type(1) {
        text-align: left; /* correction of basicTable */
    }

    /* add content of th to each row individually */
    td:nth-of-type(3)::before {
        content: "Team: ";
    }

    td:nth-of-type(4)::before {
        content: "Punten: ";
    }

    td:nth-of-type(5)::before {
        content: "Nationaliteit: ";
    }

    td {
        display: block; /* overwrite display: table property*/
        width: auto;
    }

    tr {
        display: grid; /* when you use this, you can skip the property td {display:block} */
        grid-template-columns: 1.5em 1fr;
        margin-bottom: 1em;
    }

    td {
        grid-column: 2/-1;
    }

    td:first-child {
        grid-column: 1/2;
    }

    tr:nth-of-type(2n) {
        background-color: #DDD;
    }
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
    justify-content: space-between;
}
/*.noflex {*/
/*    display: ;*/
/*}*/

img {
    object-fit: contain;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

main {
    width: 70%;
    padding: 2rem;
}

h1 {
    margin: 1rem .3rem;
    border-bottom: 1px solid #555566;
    font-size: 1.5rem;
}

h2 {
    margin: 1rem .3rem;
    border-bottom: 1px solid #555566;
}

main {
    display: block;
    margin: 5vh;
    background: #ffffff;
}

nav {
    padding: 2rem 0;
    width: 25%;
    height: 100vh;
    position: fixed;
    right: 0;
    background: #144a91;
    font-family: 'Source Sans Pro', sans-serif;
}

#nav-placeholder {
    padding: 2rem 0;
    width: 25%;
    height: 101vh;
}

nav ul li a {
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

.link-nav a, .link-nav a:hover {
    color: white;
    font-weight: bold;
    font-size: 21px;
}

.material-icons {
    margin: 0 2rem 0 1rem;
}

.link-nav a {
    display: block;
    padding: 1rem;
}

.link-nav a:hover {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

.link-nav {
    transition: .6s;
    position: relative;
    left: 0;
}

.link-nav:hover {
    background: #3595f6;
    position: relative;
    left: -1rem;
}

#current {
    background: #042a61;
}

nav ul {
    list-style: none;
}

input {
    border-radius: 5px;
}

form input, form select, form textarea, .tags-input, .names-input {
    display: block;
    width: 80%;
}

form input, form select, form textarea, .tags-input, .names-input, form .checkbox {
    margin-bottom: .6rem;
    border: 1px solid #DDDDDD;
    padding: .3rem;
}

form label {
    font-size: 1.1rem;
}

form .checkbox {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-color: #eee;
}

form .checkbox:hover {
    cursor: pointer;
}

form {
    padding: 1rem;
}

form legend {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    border-bottom: 1px solid #555566;
    margin-bottom: 2rem;
}

form button {
    margin: .3rem;
    display: inline-block;
    padding: .5rem;
    border-radius: 2px;
    background-color: #246ac1;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.content-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-list li {
    padding: .4rem .2rem;
    border-bottom: 1px solid #DDDDDD;
}

.content-list li:last-child {
    border-bottom: none;
}

button.material-icons {
    background: none;
    color: #144a91;
    font-size: 3rem;
    margin: 0 0 .6rem 0;
    padding: 0;
}

.comments {
    margin: 0 0 0 5rem;
}

.new-comment {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.new-comment input {
    height: 100%;
}

.comment {
    color: #144a91;
}

.comment {
    display: flex;
}

.comment p {
    margin: 0 1rem 0 0;
}

.star-class {
    margin: 0;
    padding: 2rem;
    box-shadow: 0 0 5px #AAAAAA;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #DDEEFF;
    border-radius: 10px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.2rem;
    color: #144a91;
}

.this-is-a-star {
    padding: 0;
    background: #F0F0F0;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.star-class .description {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

.star-class > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 10%;
    margin: 5%;
    line-height: 1.6rem;
}

.star-class > div:nth-child(2) {
    max-width: 75%;
}

.star-class img {
    margin-bottom: .5rem;
    border-radius: 50%;
    border: 1px solid #144a91;
}

.star-class ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.star-class .sender {
    font-weight: bold;
}

.star-class ul li {
    display: flex;
    align-items: center;
    padding: .4rem;
    background: #3595f6;
    border-radius: 3px;
    margin: .3rem;
    color: white;
}

.star-class .material-icons {
    margin: 0;
}

.star-class b {
    margin-right: .2rem;
}

.star-class th {
    padding-right: 2rem;
}

.account-banner {
    padding: 2rem;
    display: flex;
    align-items: center;
    height: 4rem;
    transition: .6s;
}

.account-banner img {
    margin-right: .5rem;
    border-radius: 50%;
}

.account-banner:hover {
    background: #246ac1;
}

.account-banner h3 {
    text-decoration: none;
    color: white;
}

.yeet {
    padding-right: 5rem;
}

.alert-danger {
    padding: 0.5em;
    background-color: #f2dede;
    border: 1px solid #b94a48;
    color: #b94a48;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 1em;
    box-sizing: border-box;
}

#give-star {
    display: block;
    position: absolute;
    height: 350px;
    margin-left: -300px;
    top: 50%;
    margin-top: -175px;
    left: -100%;
    background: white;
    box-shadow: 0 0 10px #144a91;
    width: 600px;
    z-index: 10;
    transition: .6s left;
}

#give-star.appear {
    left: 50%;
}

#give-star .close {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background: red;
    border-radius: 50%;
    margin-right: -30px;
    margin-top: -30px;
    color: white;
    padding: 1rem;
}

#starsGaveAway {
    margin: 0 0 0 5rem;
    display: flex;
    color: gold;
}

#starsGaveAway.superuserstars {
    color: grey;
}

#starsGaveAway span {
    padding: 0;
    margin: .5rem;
}

#starsGaveAway span:hover {
    position: relative;
    cursor: pointer;
    top: -.2rem;
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#give-star .close:hover {
    cursor: pointer;
}

#give-star form input, #give-star form select, #give-star form textarea, #give-star .tags-input, #give-star .names-input {
    width: 100%;
}

textarea.nonresizable{
    resize: none;
    box-sizing: border-box;
}
